<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Copyright Act takes effect in the US - 1978</string>
	<key>2</key>
	<string>NASA unveils the first group of women astronauts - 1978</string>
	<key>3</key>
	<string>&quot;Elvis: The Legend Lives!&quot; opens at Palace Theater NYC - 1978</string>
	<key>4</key>
	<string>ABBA releases single Take a Chance on Me - 1978</string>
	<key>5</key>
	<string>Actor Ashton Kutcher was born - 1978</string>
	<key>6</key>
	<string>Leon Spinks defeats Mohammed Ali and becomes the Heavyweight Champion - 1978</string>
	<key>7</key>
	<string>The Incredible Hulk debuted on CBS - 1978</string>
	<key>8</key>
	<string>Kiss releases album Double Platinum - 1978</string>
	<key>9</key>
	<string>Volkswagen becomes the second non-American automobile manufacturer to open a plant in the US - 1978</string>
	<key>10</key>
	<string>Actor James Franco was born - 1978</string>
	<key>11</key>
	<string>Argentina defeats France at the FIFA World Cup - 1978</string>
	<key>12</key>
	<string>Brazil defeats Italy at the FIFA World Cup - 1978</string>
	<key>13</key>
	<string>The musical film Grease was released - 1978</string>
	<key>14</key>
	<string>Argentina defeats Peru at the FIFA World Cup - 1978</string>
	<key>15</key>
	<string>Argentina defeats Netherlands at the FIFA World Cup - 1978</string>
	<key>16</key>
	<string>Actress Michelle Rodriguez was born - 1978</string>
	<key>17</key>
	<string>Basketball player Kobe Bryant was born - 1978</string>
	<key>18</key>
	<string>Major Indoor Soccer League (MISL) debuted with six franchises - 1978</string>
	<key>19</key>
	<string>Fantastic Four debuted on NBC - 1978</string>
	<key>20</key>
	<string>R&amp;B singer Usher is born - 1978</string>
	<key>21</key>
	<string>Pope John Paul II succeeds Pope John Paul I as the 264th Pope - 1978</string>
	<key>22</key>
	<string>Queen releases album Jazz - 1978</string>
	<key>23</key>
	<string>Film by Richard Donner Superman is released - 1978</string>
	<key>24</key>
	<string>Boxer Manny Pacquiao was born - 1978</string>
	<key>25</key>
	<string>Actress Katie Holmes was born - 1978</string>
</dict>
</plist>
